#include("./common/header.html", {site_title:"管理中心"})
<div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">所有主题</h3>
                    </div>
                    <div class="panel-body table-responsive">
                        <form action="${base_url('/admin/topic')}" class="navbar-form navbar-left" role="form" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" id="title" name="title" placeholder="搜索标题" value="${title}">
                            </div>
                            <button type="submit" class="btn btn-default">提交</button>
                        </form>
                        <table class="table table table-bordered table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>标题</th>
                                <th>作者</th>
                                <th>发布时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            #for(topic : topicPage.results)
                            <tr>
                                <td>${topic.tid}</td>
                                <td><a href="${base_url('/topic/')}${topic.tid}" title="${topic.title}" target="_blank">${str_count(topic.title, 36)}</a></td>
                                <td><a href="${base_url('/member/')}${topic.username}" target="_blank">${topic.username}</a></td>
                                <td><span title="${fmtdate(topic.addtime)}">${fmtdate(topic.addtime)}</span></td>
                                <td>
                                <a href="${base_url('/admin/topic/edit/')}${topic.tid}">编辑</a>
                                #if(login_user.group_id == 1) 
                                <a href="javascript:if(confirm('确实要删除吗?'))location='${base_url('/admin/topic/del/') + topic.tid}'">删除</a></td>
                                #end
                            </tr>
                            #end
                            </tbody>
                        </table>
                        #if(topicPage.totalPage > 1)
	                    <ul class="pager">
	                    #if(topicPage.page > 1)
	                    <li class="previous"><a href="${base_url('/recent/') + topicPage.prev_page}">上一页</a></li>
	                    #end
	                    <li class="next"><a href="${base_url('/recent/') + topicPage.next_page}">下一页</a></li>
	                    </ul>
	                    #end
                    </div>
                </div>
            </div><!-- /.col-md-8 -->
            #include("./common/sidebar.html")
	</div><!-- /.row -->
    </div><!-- /.container -->
#include("./common/footer.html") 
</body>
</html>