#include("./common/header.html", {site_title:"用户编辑"})
<div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">用户编辑</h3>
                    </div>
                    <div class="panel-body">
                    	#if(null!=error)<div class="alert alert-danger">${error}</div>#end
                    	<form action="${base_url('/admin/user/edit')}" method="post" class="form-horizontal" role="form">
                            <input type="hidden" name="uid" value="${user.uid}" />
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="username" name="username" value="${user.username}">
                                </div>
                                <div class="col-sm-6">
                                    <p class="form-control-static">如需修改请务必先确认用户名未被使用</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">电子邮件</label>
                                <div class="col-sm-10">
                                    <input type="email" disabled="disabled" class="form-control" id="email" name="email" value="${user.email}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="qq" class="col-sm-2 control-label">QQ</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="qq" name="qq" value="${user.qq}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-sm-2 control-label">所在地</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="location" name="location" value="${user.location}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="homepage" class="col-sm-2 control-label">个人主页</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="homepage" name="homepage" value="${user.homepage}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="signature" class="col-sm-2 control-label">签名</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="signature" name="signature" value="${user.signature}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="introduction" class="col-sm-2 control-label">个人简介</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="introduction" name="introduction" rows="3">${user.introduction}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">保存信息</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- /.col-md-8 -->
            #include("./common/sidebar.html")
	</div><!-- /.row -->
    </div><!-- /.container -->
#include("./common/footer.html") 
</body>
</html>