#include("./common/header.html", {active:"markdown", site_title:"MarkDown"})
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">关于Markdown语法</h3>
                    </div>
                    <div class="panel-body">
                    	<h2>Markdown</h2>
						<p>表面上，Markdown是技术的；实质上，则是艺术的。
						这是一种让写作变得更愉悦的语法，一般，你只需要5分钟，就会学会基本的用法。
						比如 *1个星号包裹是斜体*   **两个星号则是粗体**   ~~这是删除线~~。
						了解有限的几个规则，就可以告别格式调整的多次鼠标操作，除了写，也只有写。这真的很棒。</p>

						<h2>标题与层级</h2>
						<p># 这是一级标题
						## 这是二级标题
						以此类推，增加一个#则多一个层级，这让你的文章变得逻辑清澈。</p>

						<h2>其它语法</h2>
						<p>
						一行起始，用> 开始，表示内容的引用。如果是多行内容，则每行都可用> 开始。
						&lt;网址&gt; 会创建一个链接； [显示文本](网址)，这样可以指定链接的文本内容。
						---，类似这样3个（或以上）连续的`-`组成的一行内容，表示分割线。
						</p>

						<h2>代码如诗</h2>
						<p>
						```java
						
						print 'hello world'
						
						```
						用三个反引号（通常位于键盘esc键下方）包裹代码，还可以指定语言类型（会自动高亮）。当然了，你还可以直接在文章中插入HTML代码，比如嵌入一个在线视频、或者音乐播放器。
						</p>

						<h2>最后</h2>
						<p>
						寥寥几个规则，相信已经能帮助你完成一些了不起的文章了。
						还想了解更多Markdown的语法？ 可以<a href="http://wowubuntu.com/markdown/" target="_blank">点击此处</a>了解。
						</p>
                    </div>
                </div>
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
#include("./common/footer.html")
</body>
</html>