#include("./common/header.html", {description : topic.title, site_title: topic.title})
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading topic-detail-heading">
                    <div class="pull-right"><a href="${base_url('member/') + topic.username}"><img src="${cdn}/${topic.avatar}" alt="${topic.username}"></a></div>
                    <p><a href="${base_url('/')}">首页</a> / <a href="${base_url('/go/') + topic.nkey}">$!{topic.nname}</a></p>
                    <h1 class="panel-title">$!{topic.title}</h1>
                    <small class="text-muted">
                        <span>By <a href="${base_url('member/')}${topic.username}">${topic.username}</a></span>&nbsp;•&nbsp;
                        <span>${fmtdate(topic.addtime)}</span>&nbsp;•&nbsp;
                        <span>${topic.view}次点击</span>
                        #if(null!=login_user && topic.uid == login_user.uid)
                        &nbsp;•&nbsp;&nbsp;<span><a href="${base_url('/topic/edit/') + topic.tid}">编辑</a></span>
                        #end
                    </small>
                </div>
                <div class="panel-body">
                    ${mdTohtml(topic.content)}
                </div>
                <div class="panel-footer">
                	#if(!isfollow)
                	<a role="button" class="" href="${base_url('/topic/follow/') + topic.tid}"><small class="text-muted">加入收藏</small></a>
                	#else
                	<a role="button" class="" href="${base_url('/topic/unfollow/') + topic.tid}"><small class="text-muted">取消收藏</small></a>
                	#end
                </div>
            </div><!-- /.panel content -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><small>$!{topic.comment} 回复 | 直到${today("yyyy-MM-dd HH:mm")}</small><a href="#Reply" class="pull-right"><small class="text-muted">添加回复</small></a></h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                    	#for(comment : comments)
                    	<li class="media" id="Reply${for.index}">
                            <a href="#Reply" onclick="addReply('&lt;a href=&quot;${base_url('/member/')+comment.username}&quot;&gt;${comment.username}&lt;/a&gt;')" class="pull-right text-muted">#${for.index} <span class="glyphicon glyphicon-share-alt"></span></a>
                            <a class="media-left" href="${base_url('/member/') + comment.username}">
                                <img width="50" height="50" class="img-rounded" src="${cdn}/${comment.avatar}" alt="${comment.username}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading topic-list-heading"><a href="${base_url('/member/') + comment.username}">${comment.username}</a>
                                #if(comment.group_id == 1 || comment.group_id == 2)
                                <img width="30" height="14" class="img-rounded" src="${cdn}/static/img/mod.png" alt="Moderator" title="Moderator">
                                #end
                                &nbsp;&nbsp;
                                <small>${timespan(comment.replytime)}</small></h4>
                                ${mdTohtml(comment.content)}
                            </div>
                        </li>
                        <hr class="smallhr">
                    	#end
                    </ul>
                </div>
            </div><!-- /.panel comment -->
            <div class="panel panel-default" id="Reply">
                <div class="panel-heading">
                    <h3 class="panel-title">添加一条新回复</h3>
                </div>
                <div class="panel-body">
                	#if(null != login_user)
                		#if(null!=error)<div class="alert alert-danger">${error}</div>#end
                		<form action="${base_url('/comment/add')}" class="form-horizontal" role="form" method="post" onsubmit="return validate_form(this)">
                			<input type="hidden" name="tid" value="${topic.tid}">
	                        <input type="hidden" name="tuid" value="${topic.uid}">
	                        <textarea id="content" class="form-control" name="content" rows="4">${content}</textarea>
	                        <br/>
	                        <button type="submit" class="btn btn-default">提交</button>
	                        <script>
	                            function addReply(username) {
	                                window.editor.insertHtml('@'+username+'&nbsp;');
	                            }
	
	                            function validate_form(thisform){
	                                if (window.editor.text().length<2){
	                                    alert('回复内容不得少于2字');
	                                    return false;
	                                }
	                            }
	                        </script>
		                </form>
		           #else
		                <div class="well text-center">
	                    	<a href="${base_url('/signup')}">注册</a> 参与讨论 or <a href="${base_url('/signin')}">登录</a>
	                    </div>
	                #end
                </div>
            </div><!-- /.panel add comment -->
        </div><!-- /.col-md-8 -->
        #include("./common/sidebar.html")
    </div>
</div>
#include("./common/footer.html")
</body>
</html>